@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Roboto', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media print {
  body *,
  *::before,
  *::after {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
    print-color-adjust: exact !important; /*Firefox*/
  }
  
  /* Ensure proper alignment in PDF */
  .resume-container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
  }
}

@page {
  size: A4 !important;
  margin: 0 !important;
}

/* Global styles for Jodit rich text editor */
.jodit_richtextRuntimeWrapper__Rswmz ul>li {
  margin-bottom: 4px;
}
